body{
	margin: 0;
}

section{
	width: 1303px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}
.box{
	width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 15px;
}
.colorred{
	background-color: orange;
	padding: 25px;
}
p{

font-size: 17px;

margin: 0;

line-height: 1.2;

padding: 19px;
}